<li class="media">
  <div class="media-body">
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle " src="http://inforu.news/wp-content/uploads/upfw/logo-telegram.png" />
      </a>
      <div class="media-body" >
        <%= message.body %>
        <br />
        <small class="text-muted"><%= message.user.name_for_chat %> | <%= message.timestamp %></small>
        <hr />
      </div>
    </div>
  </div>
</li>
