<div class="header">
  <div class="header_nav">
    <nav class="navbar navbar-default chn-gd">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand logo-st" href="/allergy_department">Алергологічне відділення</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/" class="scroll">
                <span class="glyphicon glyphicon-home icn_pos hm" aria-hidden="true"></span>
                Головна
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
