<h1>Головна сторінка сайту</h1>

<%= link_to 'Oртопедо-травматологічне відділення', traumatological_index_path %></br>
<%= link_to 'Cудинна хірургія', vascular_index_path %></br>
<%= link_to 'Алергологічне відділення', allergy_index_path %>
