<section class='welcome-section'>
  <%= link_to traumatological_index_path do%>
    <span> Oртопедо-травматологічне відділення </span>
  <% end %>
  <%= link_to vascular_index_path do%>
    <span> Cудинна хірургія </span>
  <% end %>
  <%= link_to allergy_index_path do%>
    <span> Алергологічне відділення </span>
  <% end %>
  <%= link_to hemodialysis_path do%>
    <span> Відділення гемодіалізу </span>
  <% end %>
</section>
