<section class='welcome-section'>
  <ul>
    <li class='welcome-section__element'>
      <%= link_to 'Oртопедо-травматологічне відділення', traumatological_index_path %>
    </li>
    <li class='welcome-section__element'>
      <%= link_to 'Cудинна хірургія', vascular_index_path %>
    </li>
    <li class='welcome-section__element'>
      <%= link_to 'Алергологічне відділення', allergy_index_path %>
    </li>
    <li class='welcome-section__element'>
      <%= link_to 'Відділення гемодіалізу', hemodialysis_path %>
    </li>
  </ul>
</section>
