<% if current_user.avatar.present? %>
  <div class='avatar'>
    <%= image_tag current_user.avatar %>
  </div>
<%end%>
<h1>Моя сторiнка</h1>
<p>
  <h4>Тут буде інформація про користувачa. Його медичні записи буде бачити лише лікар або сам користувач</h4>
</p>
