.topbar
  .locale
    => link_to_unless current_locale?(:en), :EN, locale_path(:en), method: :patch, remote: true
    ' |
    = link_to_unless current_locale?(:ua), :UA, locale_path(:ua), method: :patch, remote: true
  .container
    .absolute
      = link_to root_path
        p
          i.fa.fa-arrow-left
    .row
      .col-md-12
        p.pull-left.hidden-xs = t('.allergy')
        p.col-md-5.pull-right
          i.fa.fa-hospital-o
          = t('.phone_department_head')
        p.col-md-3.pull-right
          i.fa.fa-ambulance
          = t('.phone_department')
section.banner-container
  = image_tag "allergy-banner.jpg"
  .flex-caption
    h3 = t('.allergy')
    p = t('.allergy_region')
section.call-to-action-2
  .container
    .row
      .col-md-10.col-sm-9
        h3 = t('.allergy_wtf')
        p = t('.is_a_allergy')
      .col-md-2.col-sm-3
        a.btn.btn-primary href="https://nebolet.com.ua/medarea/allergology.html" = t('.read_more')
section.content
  .container
    .row
      .col-md-12
        .text-center
          h2 =t('.directions_title')
          h4 =t('.directions')
    .row
      .skill-home
        .skill-home-solid.clearfix
          .col-md-3.text-center
            span.icons.c1
              i.fa.fa-ambulance
            .box-area
              h3 =t('.first_label')
          .col-md-3.text-center
            span.icons.c2
              i.fa.fa-users
            .box-area
              h3 =t('.second_label')
          .col-md-3.text-center
            span.icons.c3
              i.fa.fa-trophy
            .box-area
              h3 =t('.third_label')
          .col-md-3.text-center
            span.icons.c4
              i.fa.fa-globe
            .box-area
              h3 =t('.fourth_label')
section.section-padding
  .container
    .row
      .col-md-12
        .section-title.text-center
          h2 =t('.examination')
    .col-md-12.col-sm-12
      .about-text
        p =t('.first_title')
        p =t('.second_title')
    .col-md-6.col-sm-6
      .about-text
        p =t('.third_title')
        p =t('.namely')
        ul
          li =t('.a')
          li =t('.b')
          li =t('.c')
          li =t('.d')
          li =t('.e')
          li =t('.f')
          li =t('.g')
          li =t('.h')
          li =t('.i')
    .col-md-6.col-sm-6
      .about-image
        = image_tag '1a.jpg'
section.home-about
  .container
    .row
      .col-md-12
        .text-center
          h2 =t('.service_features')
    tr
      td
        table border="2"
          tr.title
            td №
            td =t('.indexes')
            td =t('.2013_year')
            td =t('.2014_year')
            td =t('.2015_year')
            td =t('.2016_year')
          tr.body
            td 1
            td =t('.planned_bed')
            td 40
            td 40
            td 40
            td 40
          tr.body
            td 2
            td =t('.patients')
            td 1275
            td 1285
            td 1284
            td 1275
          tr.body
            td 3
            td =t('.work_bed')
            td 349
            td 363
            td 363,3
            td 352,1
          tr.body
            td 4
            td =t('.average_stay_in_bed')
            td 10,9
            td 11,3
            td 11,3
            td 11,0
          tr.body
            td 5
            td =t('.bed_count')
            td 31,9
            td 32,2
            td 32,2
            td 32,0
section.page-section
  .container
    .heading.text-center
      h2 =t('.our_doctors')
    .team-content
      .row
        .col-md-4.col-sm-3.col-xs-4
          .team-member.pDark
            .member-img
              = image_tag("a2.jpg", alt: "name", class: "img-responsive")
            h4 =t('.1_doctor_name')
            span.pos =t('.1_doctor_position')
        .col-md-4.col-sm-3.col-xs-4
          .team-member.pDark
            .member-img
              = image_tag("a3.jpg", alt: "name", class: "img-responsive")
            h4 =t('.2_doctor_name')
            span.pos =t('.doctor_position')
        .col-md-4.col-sm-3.col-xs-4
          .team-member.pDark
            .member-img
              = image_tag("a4.jpg", alt: "name", class: "img-responsive")
            h4 =t('.3_doctor_name')
            span.pos =t('.doctor_position')
        .col-md-4.col-sm-3.col-xs-4
          .team-member.pDark
            .member-img
              = image_tag("a1.jpg", alt: "name", class: "img-responsive")
            h4 =t('.4_doctor_name')
            span.pos =t('.doctor_position')
        .col-md-4.col-sm-3.col-xs-4
          .team-member.pDark
            .member-img
              = image_tag("a5.jpg", alt: "name", class: "img-responsive")
            h4 =t('.5_doctor_name')
            span.pos =t('.doctor_position')
        .col-md-4.col-sm-3.col-xs-4
          .team-member.pDark
            .member-img
              = image_tag("a6.jpg", alt: "name", class: "img-responsive")
            h4 =t('.6_doctor_name')
            span.pos =t('.doctor_position')
.bottombar
  .container
    .col-md-12
      p.pull-right
        a href="#"
          i.fa.fa-twitter
        a href="#"
          i.fa.fa-facebook
        a href="#"
          i.fa.fa-dribbble
        a href="#"
          i.fa.fa-flickr
        a href="#"
          i.fa.fa-github

