@import 'bootstrap-sprockets'
@import "font-awesome-sprockets"
@import "font-awesome"
@import 'bootstrap'
@import 'welcome'
@import 'navbar'
@import 'signin-signup'
@import 'animate'
@import 'comments'
@import 'articles'
@import 'persons'
@import 'card-form'
@import 'card'
@import 'allergy_department'
@import 'advice'
@import 'hemodializ'
@import 'hemo'
@import 'lazybox'

.translation_missing
  color: red !important

.alert-notification
  background: rgba(3, 169, 244, 0.68)

body
  margin: 0
  font-family: "Times New Roman", Times, serif

a:hover
  text-decoration: none

#messages
  max-height: 450px
  overflow-y: auto

.comment-error
  position: relative
  bottom: 78px

.right
  float: right

.doctor_profile
  text-align: center
  font-size: 20px
  padding-top: 7%

.style_image
  object-fit: cover
  width: 200px
  height: 200px
  border: 1px solid #ddd
  border-radius: 50%
  box-shadow: 0 2px 5px #aaa
  margin: 5% auto
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  transition: width, height, border-radius, 0.5s ease-in-out

#lazybox
  width: 500px
  height: auto
  max-height: 500px
  img
    width: 100%
    height: auto
    max-height: 500px
