@import 'bootstrap-sprockets'
@import "font-awesome-sprockets"
@import "font-awesome"
@import 'bootstrap'
@import 'welcome'
@import 'navbar'
@import 'signin-signup'
@import 'animate'
@import 'comments'
@import 'articles'
@import 'persons'
@import 'card-form'
@import 'card'
@import 'allergy_department'
@import 'advice'

.translation_missing
  color: red !important

.alert-notification
  background: rgba(3, 169, 244, 0.68)

body
  margin: 0
  font-family: "Times New Roman", Times, serif

a:hover
  text-decoration: none

#messages
  max-height: 450px
  overflow-y: auto

.comment-error
  position: relative
  bottom: 78px

.right
  float: right
