.title-show
  text-align: center
  margin-top: 50px
  font-size: 30px
  font-weight: 600

.text-show
  background-color: #FFFFFF
  color: #000000
  font-style: normal
  font-weight: normal
  font-size: 14px
  font-variant: small-caps
  line-height: 23px
  text-decoration: none
  word-spacing: 1px
  text-transform: none
  padding: 15px
  margin-bottom: 35px

.article-new-title
  input
    border-radius: 5px
    width: 50%
    margin: 10px 0
    position: relative
    left: 25%

.article-new-text
  textarea
    border: 1px solid #d5d5d5
    width: 100%
    min-height: 70px
    height: 100px
    border-radius: 5px
    padding: 10px
    resize: vertical

.article-create
  input
    position: relative
    left: 76%
    background: #2c3e50
    color: white
    border-radius: 5px

.new-article-btn
  margin-bottom: 50px
  a
    text-align: center
    width: 100px
    display: block
    background: #2c3e50
    color: white
    border-radius: 5px
    padding: 6px 12px

.article
  position: relative
  padding: 5px
  margin: 5px 0
  border-bottom: 2px solid rgba(128, 128, 128, 0.32)

  .title
    img
      position: relative
      width: 120px
      top: 20px
      left: -5px
    a
      color: black
      border-bottom: 2px solid rgba(0, 220, 255, 0.28)
      font-size: 25px
      &:hover
        border: none

  .text
    margin-top: -15px
    white-space: nowrap
    padding: 0px 20px 15px 125px
    text-overflow: ellipsis
    overflow: hidden

  .btns
    text-decoration: none
    position: absolute
    right: 10px
    top: 5px
